.nav-item{

	color: red;
	font-size: 20px;
	margin-right: 15px;
	
}

.container{


	font-size: 30px;
	width: 100%;
	height: 100%;
}
.nav-link{

	color: red;
}
.header{

	text-align: left;
}

.articleClass{
	
	margin-top: 50px;
	width: 80%;
	height: 50%;
	position: relative;
	box-sizing: border-box;
	overflow: auto;
	

	
}

.commentSummary{

	position: absolute;
}
.col-sm-1{

	width: 100%;
	height: 100%;

}
.col-sm-10{


	width: 100%;
	height: 100%;
}
.comment-inside{

	position: absolute;

}
.image_field{

	object-fit: cover;
}
.card_image{

	margin-top: 10px;
}

details.form-control{

	width: 80%;
}