.nav-item{

	color: red;
	font-size: 20px;
	margin-right: 15px;
	
}

.container{


	font-size: 30px;
}
.nav-link{

	color: red;
}
.header{

	text-align: left;
}

.articleClass{
	
	margin-top: 50px;
	width: 600px;
	height: 500px;
	border: 1px solid black;
}
.image_card{

	object-fit: cover;
}